#include "krit/Assets.h"
#include "krit/AssetId.h"

namespace krit {

const AssetInfo Assets::_assets[AssetCount] = {
    {% for asset in assets: %}
    {
        .id = {{ asset.assetId }},
        .type = {{ asset.type}}Asset,
        .path = "{{ asset.path }}",
        {% if asset.type == 'Image': %}
        .properties = AssetProperties({{ asset.width }}, {{ asset.height }}),
        {% endif %}
    },
    {% endfor %}
};

std::unordered_map<std::string, int> Assets::_byPath = {
    {% for asset in assets %}
    { "{{ asset.path }}", {{ loop.index - 1 }} },
    {% endfor %}
};

}
