[submodule "spine-runtimes"]
	path = spine-runtimes
	url = https://github.com/EsotericSoftware/spine-runtimes
[submodule "quickjs"]
	path = quickjs
	url = https://github.com/bendmorris/quickjs.git
[submodule "toolchain"]
	path = toolchain
	url = https://github.com/bendmorris/krit-toolchain.git
