{% if types.hasDeclarations %}

#include <stddef.h>
#include <stdint.h>
#include <utility>
#include <vector>
#include <string>
#include "krit/script/ScriptClass.h"
#include "krit/script/ScriptEngine.h"
#include "krit/script/ScriptType.h"
#include "krit/script/ScriptValue.h"
#include "krit/utils/Log.h"
#include "quickjs.h"

#include "{{ includeHeader }}"

#define countof(x) (sizeof(x) / sizeof((x)[0]))

// classes

{% for cls in types.classes %}
namespace krit {
// script class type
template<> {{namespace}}::{{cls.name}} &TypeConverter<{{namespace}}::{{cls.name}}&>::valueFromJs(JSContext *ctx, const JSValue &val) {
    {{namespace}}::{{cls.name}} *p = ObjectHeader::data<{{namespace}}::{{cls.name}}>(val);
    return *p;
}
template<> const {{namespace}}::{{cls.name}} &TypeConverter<const {{namespace}}::{{cls.name}}&>::valueFromJs(JSContext *ctx, const JSValue &val) {
    {{namespace}}::{{cls.name}} *p = ObjectHeader::data<{{namespace}}::{{cls.name}}>(val);
    return *p;
}

template<> JSValue TypeConverter<{{namespace}}::{{cls.name}}&>::valueToJs(JSContext *ctx, const {{namespace}}::{{cls.name}} &val) {
    GET_ENGINE;
    JSValue instance = engine->getCachedInstance(
        ScriptClass<{{namespace}}::{{cls.name}}>::classId(), static_cast<const void *>(&val));
    if (!JS_IsUndefined(instance)) {
        return instance;
    }
    JSValue obj = JS_NewObjectClass(ctx, ScriptClass<{{namespace}}::{{cls.name}}>::classId());
    auto header = ObjectHeader::create();
    header->setRaw((void *)&val);
    JS_SetOpaque(obj, header);
    engine->setCachedInstance(ScriptClass<{{namespace}}::{{cls.name}}>::classId(), &val, obj);
    return obj;
}
template<> JSValue TypeConverter<{{namespace}}::{{cls.name}}>::valueToJs(JSContext *ctx, const {{namespace}}::{{cls.name}} &val) {
    return TypeConverter<{{namespace}}::{{cls.name}}&>::valueToJs(ctx, val);
}
}
{% endfor %}

{% for cls in types.classes %}

/**

{{ JSON.stringify(cls, "\n") }}

 */

namespace {{namespace}} {

{% if cls.partial %}
template<> void krit::ScriptClass<{{namespacedName(cls)}}>::populateFromPartial(JSContext *ctx, {{namespacedName(cls)}} &o, JSValue partial) {
    {% for prop in cls.properties %}
    {% if not prop.readonly %}
    {
        JSValue val = JS_GetPropertyStr(ctx, partial, "{{ prop.name }}");
        if (!JS_IsUndefined(val)) {
            {% if prop.set %}
            o.{{ prop.name }}() = krit::TypeConverter<std::remove_reference<decltype(o.{{ prop.name }}())>::type>::valueFromJs(ctx, val);
            {% else %}
            o.{{ prop.name }} = krit::TypeConverter<decltype(o.{{ prop.name }})>::valueFromJs(ctx, val);
            {% endif %}
        }
        JS_FreeValue(ctx, val);
    }
    {% endif %}
    {% endfor %}
}
{% endif %}

namespace {

static JSValue js_{{ cls.name }}_get_internal_id(JSContext *ctx, JSValueConst this_val) {
    JSClassID _id;
    void *p = JS_GetAnyOpaque(this_val, &_id);
    if (!p) {
        return JS_UNDEFINED;
    }
    return JS_NewInt64(ctx, (int64_t)static_cast<ObjectHeader*>(p)->get());
}

{% for prop in cls.properties %}
static JSValue js_{{cls.name}}_get_{{ prop.name }}(JSContext *ctx, JSValueConst this_val) {
    static_assert(krit::TypeValidator<{{ typename(prop.type) }}, {{ prop.type.validationType }}>::valid, "C++ and TS types don't match");
    {{ cls.name }} *p = ObjectHeader::data<{{ cls.name }}>(this_val);
    if (!p) {
        return JS_EXCEPTION;
    }
    {% if prop.get %}
    return krit::TypeConverter<prop_type<decltype(p->{{prop.name}}())>::type>::valueToJs(ctx, p->{{ prop.name }}());
    {% else %}
    return krit::TypeConverter<prop_type<decltype(p->{{prop.name}})>::type>::valueToJs(ctx, p->{{ prop.name }});
    {% endif %}
}

{% if not prop.readonly %}
static JSValue js_{{cls.name}}_set_{{ prop.name }}(JSContext *ctx, JSValueConst this_val, JSValue val) {
    static_assert(krit::TypeValidator<{{ typename(prop.type) }}, {{ prop.type.validationType }}>::valid, "C++ and TS types don't match");
    {{ cls.name }} *p = ObjectHeader::data<{{ cls.name }}>(this_val);
    if (!p) {
        return JS_EXCEPTION;
    }
    {% if prop.set %}
    p->{{ prop.name }}() = krit::TypeConverter<std::remove_reference<decltype(p->{{ prop.name }}())>::type>::valueFromJs(ctx, val);
    {% else %}
    p->{{ prop.name }} = krit::TypeConverter<decltype(p->{{ prop.name }})>::valueFromJs(ctx, val);
    {% endif %}
    return JS_UNDEFINED;
}
{% endif %}
{% endfor %}

static JS_FUNC({{cls.name}}_toString) {
    {{ cls.name }} *p = ObjectHeader::data<{{ cls.name }}>(this_val);
    std::string s = "<{{cls.name}}@" + ScriptEngine::n2hexstr((int64_t)p) + ">";
    return JS_NewString(ctx, s.c_str());
}

{% if cls.clone %}
static JS_FUNC({{cls.name}}___clone__) {
    if (JS_IsUndefined(argv[0])) {
        return JS_UNDEFINED;
    }
    ScriptEngine *engine = static_cast<ScriptEngine*>(JS_GetContextOpaque(ctx));
    {{ cls.name }} *p = ObjectHeader::data<{{ cls.name }}>(argv[0]);
    {{ namespacedName(cls) }} *cloned = new {{ namespacedName(cls) }}(*static_cast<{{ cls.name }}*>(p));
    JSValue val = engine->createOwned<{{ namespacedName(cls) }}>(cloned);
    return val;
}
{% endif %}

{% if cls.ctor %}
static JS_FUNC({{cls.name}}___constructor__) {
    ScriptEngine *engine = static_cast<ScriptEngine*>(JS_GetContextOpaque(ctx));
    {% if cls.partial %}
    if (argc == 1 && JS_IsObject(argv[0])) {
        {{ namespacedName(cls) }} *val = new {{ namespacedName(cls) }}();
        ScriptClass<{{ namespacedName(cls) }}>::populateFromPartial(ctx, *val, argv[0]);
        return engine->createOwned<{{ namespacedName(cls) }}>(val);
    }
    {% endif %}
    return engine->createOwned<{{ namespacedName(cls) }}>({{ (namespacedName(cls) + '::create') | call(cls.ctor) }});
}
{% endif %}

{% for method in cls.staticMethods %}
static JS_FUNC({{cls.name}}_{{method.name}}) {
    static_assert(krit::TypeValidator<{{ typename(method.returnType) }}, {{ method.returnType.validationType }}>::valid, "C++ and TS types don't match");
    {% for arg in method.args %}
    static_assert(krit::TypeValidator<{{ typename(arg.type) }}, {{ arg.type.validationType }}>::valid, "C++ and TS types don't match");
    {% endfor %}
    {% set comma = joiner() %}
    {% if method.returnType.validationType !== 'void' %}
    return krit::TypeConverter<{{ typename(method.returnType) }}>::valueToJs(ctx, {{ cls.name + '::' + method.name | call(method) }});
    {% else %}
    {{ cls.name + '::' + method.name | call(method) }};
    return JS_UNDEFINED;
    {% endif %}
}
{% endfor %}

{% for method in cls.methods %}
static JS_FUNC({{cls.name}}_{{ method.name }}) {
    static_assert(krit::TypeValidator<{{ typename(method.returnType) }}, {{ method.returnType.validationType }}>::valid, "C++ and TS types don't match");
    {% for arg in method.args %}
    static_assert(krit::TypeValidator<{{ typename(arg.type) }}, {{ arg.type.validationType }}>::valid, "C++ and TS types don't match");
    {% endfor %}
    {{ cls.name }} *p = ObjectHeader::data<{{ cls.name }}>(this_val);
    {% set comma = joiner() %}
    {% if method.returnType.validationType !== 'void' %}
    return krit::TypeConverter<{{ typename(method.returnType) }}>::valueToJs(ctx, {{ ("p->" + method.name) | call(method) }});
    {% else %}
    {{ ("p->" + method.name) | call(method) }};
    return JS_UNDEFINED;
    {% endif %}
}
{% endfor %}

}

}

namespace krit {

// script class definition

static const JSCFunctionListEntry protoFuncs{{ cls.name }}[] = {
    JS_CGETSET_DEF("__id", {{ namespace }}::js_{{cls.name}}_get_internal_id, nullptr),
    {% for prop in cls.properties %}
    JS_CGETSET_DEF("{{ prop.name }}", {{ namespace }}::js_{{cls.name}}_get_{{ prop.name }}, {% if prop.readonly %} nullptr {% else %} {{ namespace }}::js_{{cls.name}}_set_{{ prop.name }} {% endif %}),
    {% endfor %}
    JS_CFUNC_DEF("toString", 0, {{ namespace }}::js_{{ cls.name }}_toString),
    {% if cls.ctor %}
    JS_CFUNC_SPECIAL_DEF("__ctor", {{ cls.ctor.params.length }}, constructor, {{ namespace }}::js_{{ cls.name }}___constructor__),
    {% endif %}
    {% for method in cls.methods %}
    JS_CFUNC_DEF("{{ method.name }}", {{ method.params.length }}, {{ namespace }}::js_{{ cls.name }}_{{ method.name }}),
    {% endfor %}
};

static JSClassDef classDefMain{{ cls.name }} = {
    .class_name = "{{ cls.name }}",
    .finalizer = ScriptEngine::baseFinalizer,
};

// registration

template<> bool ScriptClass<{{namespacedName(cls)}}>::generated() {
    return true;
}

template<> void ScriptClass<{{namespacedName(cls)}}>::init(ScriptEngine *engine) {
    static bool initialized = false;
    if (initialized) {
        return;
    }
    initialized = true;

    {% if cls.parent %}
        ScriptClass<{{ namespacedName(cls.parent) }}>::init(engine);
    {% endif %}

    JSRuntime *rt = engine->rt;
    JSContext *ctx = engine->ctx;

    {
        // class
        auto funcs = protoFuncs{{ cls.name }};
        JSValue proto = JS_NewObject(ctx);
        JSClassID clsId = classId();
        JS_NewClass(rt, clsId, &classDefMain{{ cls.name }});
        JS_SetPropertyFunctionList(ctx, proto, funcs, countof(protoFuncs{{ cls.name }}));
        JS_SetClassProto(ctx, clsId, proto);
        {% if cls.parent %}
        {
            JSValue parentProto = JS_GetClassProto(ctx, ScriptClass<{{ namespacedName(cls.parent) }}>::classId());
            JS_SetPrototype(ctx, proto, parentProto);
            JS_FreeValue(ctx, parentProto);
        }
        {% endif %}
        // bind prototype/constructor to global object
        {% if cls.ctor %}
        JSValue ctor = JS_GetPropertyStr(ctx, proto, "__ctor");
        JS_SetConstructor(ctx, ctor, proto);
        {% else %}
        JSValue ctor = JS_NewObject(ctx);
        JS_SetPropertyStr(ctx, ctor, "prototype", JS_DupValue(ctx, proto));
        {% endif %}
        const char *ns[] {{ namespaceArray(cls) }};
        engine->setAtNamespace(ns, "{{ cls.name }}", ctor);
        {% if cls.clone %}
        {
            JSValue clone = JS_NewCFunction(ctx, {{ namespace }}::js_{{ cls.name }}___clone__, "clone", 0);
            JS_SetPropertyStr(ctx, ctor, "clone", clone);
        }
        {% endif %}
        {% for method in cls.staticMethods %}
        {
            JSValue method = JS_NewCFunction(ctx, {{ namespace }}::js_{{ cls.name }}_{{ method.name }}, "{{ method.name }}", {{ method.params.length }});
            JS_SetPropertyStr(ctx, ctor, "{{ method.name }}", method);
        }
        {% endfor %}
    }
}

bool register{{ cls.name }}() {
    ScriptEngine::pushInitializer(&ScriptClass<{{namespacedName(cls)}}>::init);
    return true;
}
static bool _registered{{cls.name}} = register{{ cls.name }}();

}

{% endfor %}

// functions

{% for fn in types.functions %}

namespace {{ namespace }} {

namespace {

{% if not fn.jsfunc %}
static JS_FUNC({{ jsFuncName(fn) }}) {
    static_assert(krit::TypeValidator<{{ typename(fn.returnType) }}, {{ fn.returnType.validationType }}>::valid, "C++ and TS types don't match");
    {% for arg in fn.args %}
    static_assert(krit::TypeValidator<{{ typename(arg.type) }}, {{ arg.type.validationType }}>::valid, "C++ and TS types don't match");
    {% endfor %}
    {% set comma = joiner() %}
    {% if fn.returnType.validationType !== 'void' %}
    return krit::TypeConverter<{{ typename(fn.returnType) }}>::valueToJs(ctx, {{ fn.name | call(fn) }});
    {% else %}
    return JS_UNDEFINED;
    {% endif %}
}
{% endif %}

void init{{ fn.name }}(ScriptEngine *engine) {
    JSContext *ctx = engine->ctx;
    JSValue fn = JS_NewCFunction(ctx, js_{{ jsFuncName(fn) }}, "{{ fn.name }}", {{ fn.params.length }});
    const char *ns[] {{ namespaceArray(fn) }};
    engine->setAtNamespace(ns, "{{ fn.name }}", fn);
}

bool register{{ fn.name }}() {
    ScriptEngine::pushInitializer(&init{{ fn.name }});
    return true;
}

static bool _registered{{ fn.name }} = register{{ fn.name }}();

}

}

{% endfor %}

// enums

{% for enum in types.enums %}

namespace {{ namespace }} {

namespace {

void init{{ enum.name }}(ScriptEngine *engine) {
    JSContext *ctx= engine->ctx;
    JSValue e = JS_NewObject(ctx);
    {% for member in enum.members %}
    JS_SetPropertyStr(ctx, e, "{{ member }}", JS_NewInt32(ctx, static_cast<int>({{ namespacedName(enum) }}::{{ member }})));
    {% endfor %}
    const char *ns[] {{ namespaceArray(enum) }};
    engine->setAtNamespace(ns, "{{ enum.name }}", e);
}

bool register{{ enum.name }}() {
    ScriptEngine::pushInitializer(&init{{ enum.name }});
    return true;
}

static bool _registered{{ enum.name }} = register{{ enum.name }}();

}

}

{% endfor %}

{% endif %}
